body{background-color: aqua;
}
@media screen and (max-width: 770px) {
 
    .part1 {color: brown;
    
    font-size: 150%;
}
  }
  .part1{border-color: blue;
  border-style: double;
  border-width: 6px;
}
.part1{margin-left: 20%;}

.part2